
/Pods
.DS_Store
speedoTransfer.xcworkspace/xcuserdata/kariimahmed.xcuserdatad/UserInterfaceState.xcuserstate
speedoTransfer.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
speedoTransfer.xcworkspace/contents.xcworkspacedata
speedoTransfer.xcodeproj/project.xcworkspace/xcuserdata/kariimahmed.xcuserdatad/UserInterfaceState.xcuserstate
speedoTransfer.xcodeproj/project.pbxproj
speedoTransfer.xcodeproj/project.xcworkspace/xcuserdata/kariimahmed.xcuserdatad/UserInterfaceState.xcuserstate
speedoTransfer.xcodeproj/project.pbxproj
